.card{
    width:250PX;
    margin: 15px 15px 15px 15px;
}

.card:hover #id{
    visibility: visible;
}

.card:not(:hover) #id{
    visibility: hidden;
}

.cardList{
    width:550PX;
    margin: 15px 15px 15px 15px;
    align-self: center;
}

.cardList:hover #id{
    visibility: visible;
}

.cardList:not(:hover) #id{
    visibility: hidden;
}

