<div style="margin: 2% 0 0 5%" fxLayout={{mainDivlayOut}} >    
    <mat-card [ngClass]="listView?'cardList':'card'" *ngFor="let note of getChildMessage" [style.background-color]='note["color"]' (mouseover)="showIcon=true" (mouseout)="showIcon=false">
           
            <div *ngIf="note['image'] != ''"  (click)= UpdateNote(note) >
                <img src="/assets/images/{{note['image']}}" style="height: 150px; width: 100%;">
            </div>
            <div style="padding-bottom: 10px;"fxLayout="row wrap" >
                <div fxFlex="90"  (click)= UpdateNote(note)>
                    {{note['title']}}
                </div>
    
                
                <!-- <div fxFlex="10" id="id" *ngIf="!note['isTrash'] && !note['isPin']">
                    <button mat-icon-button (click)="pin(note['id'])">
                        <img src="/assets/images/pin.svg" >
                    </button>
                </div>
                <div fxFlex="10" id="id" *ngIf="!note['isTrash'] && note['isPin']">
                    <button mat-icon-button (click)="pin(note['id'])">
                        <img src="/assets/images/pin2.png" >
                    </button>
                </div> -->
                

                <div fxFlex="10" *ngIf="!note['isTrash'] && !note['isPin']">
                    <button mat-icon-button (click)="pin(note['id'])">
                        <img src="/assets/images/pin.svg" >
                    </button>
                </div>
                <div fxFlex="10" *ngIf="!note['isTrash'] && note['isPin']">
                    <button mat-icon-button (click)="pin(note['id'])">
                        <img src="/assets/images/pin2.png" >
                    </button>
                </div>

            </div>
            <div style="padding-bottom: 10px;"  (click)= UpdateNote(note) >
                {{note['description']}}
            </div>
            <div *ngIf="note['addReminder'] != null">
                <mat-chip-list >
                    <mat-chip style="background-color:transparent">{{this.datepipe.transform(note['addReminder'], 'MMMM d, y, h:mm:ss a')}}
                        <button mat-icon-button (click)="removeReminder(note['id'])" (click)="note['addReminder'] = null"><mat-icon>cancel</mat-icon></button></mat-chip>
                </mat-chip-list>
            </div>

            
            <!-- <div id="id">
                <app-icon [noteIds] = 'note' [isTrash]=isTrashed></app-icon>
            </div> -->
            

            <div>
                <app-icon [noteIds] = 'note' [isTrash]=isTrashed></app-icon>
            </div>
        </mat-card>
    </div>    