<div *ngIf="!isTrash">
    <button mat-icon-button matTooltip="Remind Me" class="mat-icon-button" >
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button  matTooltip="Collaborator" class="mat-icon-button">
        <mat-icon fontSet="material-icons-outlined">person_add</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="aboveMenu" matTooltip="Change color" class="mat-icon-button">
        <mat-icon fontSet="material-icons-outlined" >color_lens</mat-icon>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
            <div class="colorMenu" >
                <button mat-mini-fab style="background-color:#FFFFFF" id="my-fab" (click)="color('#FFFFFF')"></button>
                <button mat-mini-fab style="background-color:#FBAD44" id="my-fab" (click)="color('#FBAD44')"></button>
                <button mat-mini-fab style="background-color:#FCE97C" id="my-fab" (click)="color('#FCE97C')"></button>
                <button mat-mini-fab style="background-color:#66ffe0" id="my-fab" (click)="color('#66ffe0')"></button>
                <button mat-mini-fab style="background-color:#9BF9C1" id="my-fab" (click)="color('#9BF9C1')"></button>
                <button mat-mini-fab style="background-color:#AEF9F8" id="my-fab" (click)="color('#AEF9F8')"></button>
                <button mat-mini-fab style="background-color:#AEBEFB" id="my-fab" (click)="color('#AEBEFB')"></button>
                <button mat-mini-fab style="background-color:#F9B1DB" id="my-fab" (click)="color('#F9B1DB')"></button>
                <button mat-mini-fab style="background-color:#E9D1D0" id="my-fab" (click)="color('#E9D1D0')"></button>
                <button mat-mini-fab style="background-color:#60B3F7" id="my-fab" (click)="color('#60B3F7')"></button>
                <button mat-mini-fab style="background-color:#E8F958" id="my-fab" (click)="color('#E8F958')"></button>
                <button mat-mini-fab style="background-color:#F97558" id="my-fab" (click)="color('#F97558')"></button>
            </div>
        </mat-menu>
    </button>
    
    <!-- <button mat-icon-button  matTooltip="Add image"  class="mat-icon-button"  >
        <input type='file' style="display: none;" #file>
        <mat-icon (click)= "file.addImage($event)" fontSet="material-icons-outlined">image</mat-icon>    
    </button> -->
    
    <button mat-icon-button  matTooltip="Add image"  class="mat-icon-button"  >
        <input #file type="file" (click)="file.value = null"(change)="addImage($event)" style="display:none"accept="image/*">
        <mat-icon (click)= "file.click()" fontSet="material-icons-outlined">image</mat-icon>    
    </button>
    
    <!-- <button mat-icon-button matTooltip="Archive" class="mat-icon-button" (click)= "archive()" *ngIf="!noteIds.isArchive">
        <mat-icon fontSet="material-icons-outlined">archive_outline</mat-icon>
    </button>
    
    <button mat-icon-button matTooltip="Unarchive" class="mat-icon-button" (click)= "archive()" *ngIf="noteIds.isArchive">
        <mat-icon fontSet="material-icons-outlined">unarchive_outline</mat-icon>
    </button> -->
    
    <button mat-icon-button matTooltip="Archive" class="mat-icon-button" (click)= "archive()">
        <mat-icon fontSet="material-icons-outlined">archive_outline</mat-icon>
    </button>
    
    <button mat-button [matMenuTriggerFor]="moreMenu" matTooltip="More"  class="mat-icon-button">
        <mat-icon>more_vert</mat-icon>
        <mat-menu #moreMenu="matMenu" xPosition="after">
            <button mat-menu-item (click)="trash()">Delete note</button>
            <button mat-menu-item>Add label</button>
        </mat-menu>
    </button>
</div>
<div *ngIf="isTrash">
    <button mat-icon-button matTooltip="Delete forever" class="mat-icon-button" (click) = "deleteNote()">
        <mat-icon fontSet="material-icons-outlined">delete_forever</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Restore" class="mat-icon-button" (click) = "trash()">
        <mat-icon fontSet="material-icons-outlined">restore_from_trash</mat-icon>
    </button>

</div>