<div *ngIf="!isTrash">
    <button mat-button [matMenuTriggerFor]="belowMenu" matTooltip="Remind Me" class="mat-icon-button" >
        <mat-icon>notifications</mat-icon></button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <span style="padding: 20px 0 20px 20px;">Reminder</span>
            <button mat-menu-item [matMenuTriggerFor]="datetime">Pick Date and Time</button>
            <button mat-menu-item>Later Today&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:00 PM</button>
            <button mat-menu-item>Tomorrow&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:00 AM</button>
        </mat-menu>
        <mat-menu #datetime="matMenu">
            <button mat-menu-item>Fishes</button>
            <button mat-menu-item>Amphibians</button>
        </mat-menu>
          
    
    <button mat-icon-button  matTooltip="Collaborator" class="mat-icon-button">
        <mat-icon fontSet="material-icons-outlined">person_add</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="aboveMenu" matTooltip="Change color" class="mat-icon-button">
        <mat-icon fontSet="material-icons-outlined" >color_lens</mat-icon>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
            <div class="colorMenu" >
            <button mat-mini-fab *ngFor="let item of colors" [style.backgroundColor]="item" id="my-fab" (click)="color(item)"></button>                
            </div>
        </mat-menu>
    </button>
    
    <!-- <button mat-icon-button  matTooltip="Add image"  class="mat-icon-button"  >
        <input type='file' style="display: none;" #file>
        <mat-icon (click)= "file.addImage($event)" fontSet="material-icons-outlined">image</mat-icon>    
    </button> -->
    
    <button mat-icon-button  matTooltip="Add image"  class="mat-icon-button"  >
        <input #file type="file" (click)="file.value = null"(change)="addImage($event)" style="display:none"accept="image/*">
        <mat-icon (click)= "file.click()" fontSet="material-icons-outlined">image</mat-icon>    
    </button>
    
    <!-- <button mat-icon-button matTooltip="Archive" class="mat-icon-button" (click)= "archive()" *ngIf="!noteIds.isArchive">
        <mat-icon fontSet="material-icons-outlined">archive_outline</mat-icon>
    </button>
    
    <button mat-icon-button matTooltip="Unarchive" class="mat-icon-button" (click)= "archive()" *ngIf="noteIds.isArchive">
        <mat-icon fontSet="material-icons-outlined">unarchive_outline</mat-icon>
    </button> -->
    
    <button mat-icon-button matTooltip="Archive" class="mat-icon-button" (click)= "archive()">
        <mat-icon fontSet="material-icons-outlined">archive_outline</mat-icon>
    </button>
    
    <button mat-button [matMenuTriggerFor]="moreMenu" matTooltip="More"  class="mat-icon-button">
        <mat-icon>more_vert</mat-icon>
        <mat-menu #moreMenu="matMenu" xPosition="after">
            <button mat-menu-item (click)="trash()">Delete note</button>
            <button mat-menu-item >Add label</button>
        </mat-menu>
    </button>
</div>

<div *ngIf="isTrash">
    <button mat-icon-button matTooltip="Delete forever" class="mat-icon-button" (click) = "deleteNote()">
        <mat-icon fontSet="material-icons-outlined">delete_forever</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Restore" class="mat-icon-button" (click) = "trash()">
        <mat-icon fontSet="material-icons-outlined">restore_from_trash</mat-icon>
    </button>

</div>