.container {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 4px 0 rgba(0,0,0,.2), 0 1px 4px 0 rgba(0,0,0,.2);
    border-radius: 5px 5px 5px 5px;
    margin-top: 6%;
    margin-bottom: 6%;
}


.blue{
    color: rgb(55, 0, 255);
};
.red{
    color: red;
};
.orange{
    color:rgb(255, 187, 0);
};
.green{
    color:rgb(16, 235, 71);
};


.mat-button {
    background-color:rgba(36, 86, 221, 0.918);
    color: #fff;
}

.mat-flat-button{
    background-color:rgb(251, 251, 253);
    color: rgb(34, 64, 233);
}


.service{
    padding-top: 20px;
    padding-left: 10px;
}
