<button mat-button class="dashboard" (click) = dashboard()>
    <mat-icon>keyboard_backspace</mat-icon>
    Back to dashboard
</button>


<div fxLayout="row" fxLayoutAlign="center center" class="register">

    <mat-card fxFlex="40%" fxFlex.xs="100%" class="container">

        <mat-card-content fxLayoutAlign='center center' style="font-size: 22px">
            Admin Register
        </mat-card-content>

        <form [formGroup]="registerForm">
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="2%">
                    <mat-form-field style="font-size: 12px" appearance="outline" fxFlex=50>
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" class="form-control" placeholder="First Name"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}" required />
                        <mat-error *ngIf="registerForm.hasError('required', 'firstName')">
                            First Name is required
                        </mat-error>
                        <mat-error *ngIf="registerForm.hasError('pattern', 'firstName')">
                            First name should be only of letters with atleast 2 characters
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field style="font-size: 12px" appearance="outline" fxFlex=50>
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" class="form-control" placeholder="Last Name"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors}" required />
                        <mat-error *ngIf="registerForm.hasError('required', 'lastName')">
                            Last Name is required
                        </mat-error>
                        <mat-error *ngIf="registerForm.hasError('pattern', 'lastName')">
                            Last name should be only of letters with atleast 2 characters
                        </mat-error>
                    </mat-form-field>
                </div>


                <div fxLayout="row" fxLayoutGap="2%">
                    <mat-form-field style="font-size: 12px" appearance="outline" fxFlex=50>
                        <mat-label>Mobile Number</mat-label>
                        <input matInput formControlName="mobileNumber" class="form-control" placeholder="Mobile Number"
                            [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors}" required />
                        <mat-error *ngIf="registerForm.hasError('required', 'mobileNumber')">
                            Mobile Number is required
                        </mat-error>
                        <mat-error *ngIf="registerForm.hasError('pattern', 'mobileNumber')">
                            Enter 10 digits mobile starts from 7,8,9
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field style="font-size: 12px" appearance="outline" fxFlex=50>
                        <mat-label>User Name</mat-label>
                        <input matInput formControlName="userName" class="form-control" placeholder="User Name"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors}" required />
                        <mat-error *ngIf="registerForm.hasError('required', 'userName')">
                            User Name is required
                        </mat-error>
                        <mat-error *ngIf="registerForm.hasError('pattern', 'userName')">
                            User name should be of atleast 2 characters
                        </mat-error>
                    </mat-form-field>
                </div>


                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" ng-reflect-fx-layout="row"
                 ng-reflect-fx-layout.xs="column" display="box"> 

                 <mat-form-field style="font-size: 12px" appearance="outline" fxFlex=47>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" class="form-control" placeholder="New Password" [type]="hide ? 'password' : 'text'"
                     [ngClass]="{ 'is-invalid': submitted && f.password.errors}" required/>

                     <mat-error *ngIf="registerForm.hasError('required', 'password')">
                        Enter your new password
                    </mat-error> 
                    <mat-error *ngIf="registerForm.hasError('pattern', 'password')">
                        Length must be 4 to 8 chars
                    </mat-error>                                                     
                </mat-form-field>

                <mat-form-field style="font-size: 12px" appearance="outline" fxFlex=47>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmPassword" class="form-control" placeholder="Confirm New Password" [type]="hide ? 'password' : 'text'"
                     [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors}" required/>     
                    <mat-error *ngIf="registerForm.hasError('required', 'confirmPassword')">
                        Please confirm your new password
                    </mat-error> 
                    <span *ngIf="f.confirmPassword.touched || f.confirmPassword.dirty" >
                        <mat-error *ngIf="registerForm.hasError('notSame')">
                            Password does not match
                        </mat-error>
                    </span>
                </mat-form-field>
                

                <div style="padding-top: 16px;">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
                
                </div>
                <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="30%">
                    <button mat-flat-button (click)="gotoLogin()">Sign in instead</button>
                    <button mat-button  mat-raised-button [color]="'success'"  [disabled]="!registerForm.valid" (click)="register()">Register</button>
                   </div>

            </div>
        </form>

    </mat-card>

</div>



