<div fxLayoutAlign="center center" display="flex">
    <mat-card fxFlex="600px" class="make-note" fxLayout="row" [ngStyle]="{'background-color': color}">
        <div *ngIf="isOpen" (click)="isOpen = !isOpen">
            <div fxFlex="420px">
                <p style="font-size: 14px;">Take a note...</p>            
            </div>
            <div style="align-items: center;" display="flex">
                <button mat-icon-button><mat-icon fontSet="material-icons-outlined">check_box</mat-icon></button>
                <button mat-icon-button><mat-icon fontSet="material-icons-outlined">brush</mat-icon></button>
                <button mat-icon-button><mat-icon fontSet="material-icons-outlined">image</mat-icon></button>
            </div>
        </div>

        <div *ngIf="!isOpen">
            <div  fxLayout="column">
                <div *ngIf="Image!=''">
                    <img src={{Image}} style="height: 150px;width: 100%;"> 
                </div>
                <div>                     
                    <div fxFlex="500px">
                        <input matInput type="text" [(ngModel)]=title placeholder="Title" style="font-size: 15px;"> 
                    </div> 
                    <div>
                        <button mat-icon-button style="padding-bottom: 18px;" (click)="isPin=!isPin">
                            <img src="/assets/images/pin.svg" *ngIf="!isPin">
                            <img src="/assets/images/pin2.png" *ngIf="isPin">
                        </button>
                    </div>                    
                </div> 
                <div>
                    <input matInput type="text" [(ngModel)]=description placeholder="Take a note...." style="font-size: 15px;">
                </div> 
                <div *ngIf="Reminder!=null">
                    <mat-chip-list >
                        <mat-chip style="background-color:transparent">{{this.datepipe.transform(Reminder, 'MMMM d, y, h:mm:ss a')}}
                            <button mat-icon-button (click)="Reminder = null"><mat-icon>cancel</mat-icon></button>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div fxLayout="row">
                    <div fxFlex="80%">
                        <app-icon></app-icon>
                    </div>
                    <div style="padding: 15px 0 0 75px;">
                        <button mat-icon-button (click)=createNote()>
                            Close
                        </button>
                    </div>
                </div>       
            </div>
            
        </div>
        
    </mat-card>
</div>