.container {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 4px 0 rgba(0,0,0,.2), 0 1px 4px 0 rgba(0,0,0,.2);
    border-radius: 15px 15px 15px 15px;
    margin-top: 10%;
    width:10%;
}

.mat-button {
    background-color:blue;
    color: #fff;
}

.dashboard{
    background-color: rgb(245, 245, 245);
    color: rgb(46, 25, 42);
}