<div style="text-align: center; align-items: center; align-content: center;">
    <h1 mat-dialog-title>Hi {{name}}</h1>
    <p>Edit Label</p>
    <mat-form-field>
      <input matInput [(ngModel)]="label" placeholder="Create label">
    </mat-form-field>
    <button mat-icon-button matTooltip="Add label" class="mat-icon-button" (click)="addLabel(this.label)">
        <mat-icon fontSet="material-icons-outlined">check</mat-icon>
    </button>
    
    <div fxLayout="row" class="label" fxLayoutAlign="space-around center" *ngFor="let item of allLabels">
        <button mat-icon-button matTooltip="Delete label" class="mat-icon-button"(click)="deleteLabel(item['id'])">
            <mat-icon id ="show" fontSet="material-icons-outlined" >delete_forever</mat-icon>
            <mat-icon id ="hide" fontSet="material-icons-outlined" >label</mat-icon>
        </button>
        <mat-form-field [style.fontSize.px]="12" appearance="none">
            <input type="text" matInput #labelEdit value="{{item['lable']}}">
        </mat-form-field >
        <button mat-icon-button>
            <mat-icon matTooltip="Edit label" fontSet="material-icons-outlined" (click)="editLabel(item['id'],labelEdit.value)">create</mat-icon>
        </button>        
    </div>
    <hr flex/>
    <button mat-button (click)="close()" cdkFocusInitial>Ok</button>
</div>